@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fbfbfb;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.ttf") format("truetype"); /* Corrected format and semicolon */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 575;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whyte";
  src: url("/fonts/Whyte-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whyte";
  src: url("/fonts/Whyte-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Responsive Queries */
.top-content-padding {
  @apply pt-12 lg:pt-20;
}

.top-spacing {
  @apply pt-24 lg:pt-36;
}

.bottom-spacing {
  @apply pb-24 lg:pb-36;
}

.px-spacing {
  @apply px-0 lg:px-24;
}

.title-text {
  @apply font-whyte text-2xl lg:text-3xl font-semibold lg:font-medium text-gray-900;
}

.top-collapse-padding {
  @apply pt-24 lg:pt-0;
}

.bottom-content-padding {
  @apply pb-12 lg:pb-28 xl:pb-32;
}

/* This provides 20rem px */
.px-content-padding {
  @apply mx-auto max-w-[1390px] px-4 lg:px-10 md:px-10 sm:px-4 xl:px-0;
}

.px-content-padding-blog {
  @apply mx-auto max-w-[700px] px-8 lg:px-28 md:px-20 sm:px-8 xl:px-0;
}

.pl-content-padding {
  @apply w-[1280px];
}

.px-content-padding-mobile {
  @apply px-8;
}

.title-text-size {
  @apply text-title-color font-custom text-3xl lg:text-4xl font-extrabold;
}

.top-position-footer-banner {
  @apply top-[20rem] xs:top-[30rem] sm:top-[30rem] md:top-[35rem] lg:top-[14rem] xl:top-[15rem] 2xl:top-[20rem];
}

.planning-tracking-conversation-line {
  position: absolute;
  top: 15%;
  bottom: 0;
  left: 35px;
  width: 0;
  border-width: 2px !important;
  transition: transform 0.5s ease;
  transform: scale(0);
  transform-origin: top;
}

/* Blog Markdown CSS*/

.markdown {
  @apply text-[#24292F];
}

.markdown h1 {
  @apply text-2xl font-extrabold pt-5    pb-3;
}

.markdown h3 {
  @apply text-xl font-extrabold pt-5    pb-3;
}

.markdown ul {
  @apply list-disc;
}

.markdown li {
  @apply mb-2;
}

.markdown ul li,
.markdown ol li {
  @apply ml-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a {
  color: #322ee9;
  font-weight: bold;
}

.markdown img {
  padding-top: 18px;
  padding-bottom: 18px;
}
